{
  "parser": "babel-eslint",
  "rules": {
    "react-native/no-unused-styles": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-closing-bracket-location": 2,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-undef": 2,
    "react/react-in-jsx-scope": 2,
    "react/display-name": 2,
    "react/no-deprecated": 2,
    "react/no-danger": 2,
    "react/prefer-es6-class": 2
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "plugins": [
    "react",
    "react-native"
  ]
}